global
    log /dev/log local0
    maxconn 2048
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend http
    bind *:80
    default_backend newsdesk

backend newsdesk
    server app 127.0.0.1:3000 check
